<a href="https://colab.research.google.com/github/Olga-Bugaiova/Courses/blob/main/python3_courses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[1,2,96,8,3,4,8,3,5,9]
b=[1,3,96,7,3,4,8,7,5,9]
#print(list(elem for elem in a if elem >8))
#print(list(filter(lambda elem:elem >8,a)))


print(set(a))

{96, 1, 2, 3, 4, 5, 8, 9}

In [ ]:
def string(a):
  return a =="".join(reversed(a))
print(string('akka'))

True

In [ ]:
user=input("Type a figure")
res=list(user)
print(res)

Type a figure1234
['1', '2', '3', '4']





---

In [ ]:
elem=['1','2','4','4','9','0','2']
print("element 1 is "+ elem[0]+" element in the end is "+ elem[-1])

element 1 is 1 element in the end is 2

In [ ]:
user=[1,5,6,7,2,2,68,11]
#print (list(filter(lambda elem:elem %2==0,user)))
print(list(elem for elem in user if elem %2==0))

[6, 2, 2, 68]

In [ ]:
user=[1,5,6,7,237,2,2,68,11]
for i in range (len(user)):
  if user [i] %2==0:
    print(user[i])
  elif(user[i]== 237):
    print(user[i])
    break

6
237

In [ ]:
a=[1,5,6,7,237,2,68,11]
b=[1,6,7,2,68,11,555]

print(set(b)-set(a))

{555}

Задача: Треугольник Паскаля

Нужно вывести первые n строк треугольника Паскаля. В этом треугольнике на вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух расположенных над ним чисел.

In [ ]:
def pascal_triangle(n):
   row = [1]
   y = [0]
   for x in range(max(n, 0)):
      print(row)
      row = [left + right for left, right in zip(row + y, y + row)]
   
pascal_triangle(10)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

In [ ]:
#Vocabulary

Bday={'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol':'Mar 30'}
while True:
   print('Enter a name: ')
   name= input()
   if name== '':
     break
   if name in Bday:
     print(Bday[name]+ 'is the birthday of '+ name)

Enter a name:
Alice
Apr 1is the birthday ofAlice
Enter a name:

KeyboardInterrupt: ignored

In [ ]:
data={'Name':'Ola','age':'30'}
#for i in data.values():
#  print(i)
#for j in data.keys():
#print(j)
#for k in data.items():
  print(list(k))

['Name', 'Ola']
['age', '30']

In [ ]:
data={'Name':'Ola','age':'30', 'snore':'croissant', 'portion':'2'}
#print('I wanna take '+ data.get('two', 0))
data.setdefault('newT','white')
print(data)

{'Name': 'Ola', 'age': '30', 'snore': 'croissant', 'portion': '2', 'newT': 'white'}

In [ ]:
import pprint
task={'girl': 1,'girl2':2,'girl3':3}
#task={'girl':'Ola','girl2':'Katia','girl3':'Sasha'}
task.setdefault('adds','loves')
#a=task.get('girl2', 0)
pprint.pprint(task)

{'adds': 'loves', 'girl': 1, 'girl2': 2, 'girl3': 3}

In [ ]:
import pprint
data='It has been the best time, thanks God for the chance live the life'
res={}

for i in data:
  res.setdefault(i, 0)
  res[i]= res[i]+1
pprint.pprint(res)

{' ': 13,
 ',': 1,
 'G': 1,
 'I': 1,
 'a': 3,
 'b': 2,
 'c': 2,
 'd': 1,
 'e': 10,
 'f': 2,
 'h': 6,
 'i': 3,
 'k': 1,
 'l': 2,
 'm': 1,
 'n': 3,
 'o': 2,
 'r': 1,
 's': 3,
 't': 7,
 'v': 1}

In [ ]:
task={'girl': '1','girl2':'2'}
for i,j in task.items():
  print('The key is ' + i + 'the value is ' + str(j))

The key is girlthe value is 1
The key is girl2the value is 2

In [ ]:
x = {'a': 300, 'b': 400} 
y = {'c': 500, 'd': 600}
res=x.update(y)
#print(x['a'])
print(x)

{'a': 300, 'b': 400, 'c': 500, 'd': 600}

In [ ]:
x = {'a': 5, 'b': 6, 'c':7}
res=1
for v in x.values():
  res=res*v
print(res)

210

In [ ]:
x = {'a': 5, 'b': 6, 'c':7}
print(x['a'])

5

In [ ]:
res={}
for j in range(1,11):
  res.setdefault(j, pow(j, 3))
print(res)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
a = ['Ola', 'La', 'Kat']
v = ['1111','2222', '33333']
c=dict(zip(a,v))
print(c)

{'Ola': '1111', 'La': '2222', 'Kat': '33333'}

In [ ]:
value='pythonist'
dictionary={i: value.count(i) for i in value}
print(dictionary)

{'p': 1, 'y': 1, 't': 2, 'h': 1, 'o': 1, 'n': 1, 'i': 1, 's': 1}

In [ ]:
stuff={'rope':1,'torch':6,'gold coin': 42, 'dagger':1,'arrow':12,}
def displayInventory(inventory):
  total_items=0
  for i,j in inventory.items():
    print(str(j) + ' ' +i)
    total_items=total_items+j
  print(total_items)
displayInventory(stuff)

1 rope
6 torch
42 gold coin
1 dagger
12 arrow
62

{'golden coin': 2, 'rope': 1, 'dagger': 1, 'ruby': 1}